server:
  port: 8082

spring:
  application:
    name: sample-spring-batch

  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always

  batch:
    jdbc:
      initialize-schema: never
    job:
      enabled: false  # Don't run job on startup

logging:
  level:
    root: INFO
    com.otel.sample: DEBUG
    org.springframework.batch: INFO
