server:
  port: 8080

spring:
  application:
    name: sample-spring-webmvc

  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  threads:
    virtual:
      enabled: true

logging:
  level:
    root: INFO
    com.otel.sample: DEBUG
    org.hibernate.SQL: DEBUG
